
            * { margin:0; padding:0;}
            header {
                display:flex;
                background-color: rgb(105, 131, 148);
            }
             #img {
                flex:2;
                max-height: 80px;
                max-width: 70px;
                margin-left: 25px;
                background-color: rgb(189, 189, 189);
            }
            #nav {
                flex:9;
                text-align: right;
                font-size: 25px;
                margin-top: 20px;
            }
            a {
                text-decoration: none;
                color: black;
                padding: 10px;
            }
            h2 {
                font-size: 25px;
                text-align: left;
                margin-top: 20px;
                margin-left: 125px;
                margin-right: 0px;
                margin-bottom: 0px;
                line-height: 50px;
                color: black;
            }
            a {
                text-decoration: none;
                font-size: 20spx;
                font-family: "Times New Roman";
                margin-left: 25px;
                color: black;
            }
            #heading
            {
                font-size: 40spx;
                text-align: center;
                color: black;
                padding:25px;
                margin-top: 0px;
            }
            #hr {
                width: 95%;
                border: 2px solid black;
                margin-top: -10px;
                margin-bottom: 25px;
                margin-left: auto;
                margin-right: auto;
            }
            #img {
                float: left;
                align-items: start;
                margin-left: 25px;
                background-color: rgb(189, 189, 189);
            }
            p {
                font-size: 20spx;
                text-align: left;
                margin-left: 125px;
                line-height: 0px;
                color: black;
            }
            table, thead, tr, th { 
                border:2px solid #000; 
                border-collapse:collapse;
                margin-top: 80px;
                font-size: 20px;
            }
            table, thead, tr, td { 
                border:1px solid #000; 
                margin-top: 80px;
                align-items: center;
                width: 100%;
                table-layout: fixed;
                padding: 5px;
            }
            .footer table {
                margin-top: 50px;
                width: 100%;
                height: auto;
                background-color: rgb(105, 131, 148);
                border: 0px solid;
            }
            .footer{
                width: 100%;
                height: 380px;
                background-color:rgb(105, 131, 148)
            }
            #footer {
                display: grid;
                font-size: 25px;
                text-align: center;
                color: black;
                padding: 10px;
                border: -50px
            }
            #disclaimer {
                text-align: center;
                margin-top: 15px;
                font-size: 15px;
                color: black;
            }
            #subpages-heading {
                font-size: 40spx;
                text-align: center;
                color: black;
                margin-top: 60px;
                margin-bottom: 20px;
            }
            #section {
                display: block;
                font-size: 25spx;
                text-align: left;
                margin-left: 80px;
                margin-right: 0px;
                margin-bottom: 20px;
                line-height: 35px;
                color: black;
                max-width: 490px;
            }
            #breadheading
            {
                font-size: 60spx;
                text-align: center;
                color: black;
                padding:25px;
                margin-top: 0px;
                margin-bottom: -25px;
            }
            #breadtitle{
                text-align: left;  
                margin-left: auto;
                font-size: 30px;
            }
            #vertical line {
                border: 2px solid black; /* Width, style, and color of the line */
                height: 100px;
                background-color: black;
                margin-bottom: 200px
            }
            #breadline {
                width: 95%;
                border: 3px solid black;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;
            }