
            header {
                background-color: rgb(105, 131, 148);
                box-shadow:rgb(105, 131, 148) 20px 4px 12px 35px;
                padding: 10px;
                height: 10%;
                width: 100%;
            }
            h1 {
                font-size: 25px;
                text-align: right;
                margin-right: 25px;
                color: black;
            }
            h2 {
                font-size: 25px;
                text-align: left;
                margin-top: 20px;
                margin-left: 125px;
                margin-right: 0px;
                margin-bottom: 0px;
                line-height: 50px;
                color: black;
            }
            a {
                text-decoration: none;
                font-size: 20spx;
                font-family: "Times New Roman";
                margin-left: 25px;
                color: black;
            }
            #heading
            {
                font-size: 40spx;
                text-align: center;
                color: black;
                margin-top: 25px;
            }
            #hr {
                width: 95%;
                border: 2px solid black;
                margin-top: -10px;
                margin-bottom: 25px;
            }
            #img {
                float: left;
                align-items: start;
                margin-left: 25px;
                background-color: rgb(189, 189, 189);
            }
            .container0 {
                display: flex;
                flex-wrap: row;
                justify-content: left;
                margin-left: -75px;
                margin-top: auto
            }
            .container1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: -500px;
                margin-top: -315px
            }
            .container2 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 220px;
                margin-top: -272px
            }
            .container3 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 800px;
                margin-top: -270px
            }
            p {
                font-size: 20spx;
                text-align: left;
                margin-left: 125px;
                line-height: 0px;
                color: black;
            }
            table, thead, tr, th { 
                border:2px solid #000; 
                border-collapse:collapse;
                margin-top: 80px;
                font-size: 20px;
            }
            table, thead, tr, td { 
                border:1px solid #000; 
                margin-top: 80px;
                align-items: center;
                width: 100%;
                table-layout: fixed;
                padding: 5px;
            }
            .footer table {
                margin-top: 50px;
                width: 100%;
                height: auto;
                background-color: rgb(105, 131, 148);
                border: 0px solid;
            }
            .footer{
                width: 100%;
                height: 380px;
                background-color:rgb(105, 131, 148)
            }
            #footer {
                display: grid;
                font-size: 25px;
                text-align: center;
                color: black;
                padding: 10px;
                border: -50px
            }
            #disclaimer {
                text-align: center;
                margin-top: 15px;
                font-size: 15px;
                color: black;
            }