/* Style Sheet Below */

* {margin: 0; padding: 0; }
body{
    background-color: rgb(220, 220, 220);
}
.header {
    display: flex;
    background-color: black;
    color: white;
    padding: 15px;
}
#logo {
    flex: 1;
    text-align: center;
    border: 5px solid white;
    padding: 10px;
    font-size: 24px;
}
#menu {
    flex: 5;
    text-align: right;
    margin-top: 10px;
}
a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 30px;
}
.content{
    margin: 50px;
    font-size: 20px;
}
#heading{
    text-align: center;
    color: gray;
}
hr{
    border: 2px solid gray;
    margin: 20px;
}
#img{
    width: 900px;
    height: 400px;
    display: block;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}
p{
    text-align: center;
    padding: auto;
}
#line1{
    margin-top: 20px;
}
#line2{
    margin-bottom: -20px;
}
.footer{
    padding: 5px;
    background-color: gray;
}
h1{
    text-align:center;
}
.disclaimer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}