
            * { margin:0; padding:0;}
            body{
                background-color: rgb(192, 196, 197);
            }
            header {
                display:flex;
                background-color: rgb(105, 131, 148);
                padding: 10px;
            }
             #img {
                flex:2;
                max-height: 80px;
                max-width: 70px;
                margin-left: 25px;
                background-color: rgb(189, 189, 189);
            }
            #nav {
                flex: 9;
                text-align: right;
                font-size: 25px;
                margin-top: 20px;
            }
            a {
                text-decoration: none;
                color: black;
                padding: 10px;
            }
            #hr {
                width: 95%;
                border: 2px solid black;
                margin-top: -10px;
                margin-bottom: 25px;
            }
            table{
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                height: 100%;
                width: 60%;
                border-collapse: collapse;
            }
            table tr th { 
                border:3px solid #000; 
                margin-top: 80px;
                align-items: center;
                table-layout: fixed;
                padding: 5px;
                text-align:center;
                font-size: 20px
            }
            table tr td { 
                border:2px solid #000; 
                margin-top: 80px;
                align-items: center;
                table-layout: fixed;
                padding: 5px;
                text-align:center;
                font-size: 18px
            }
            .row1 {
                background-color: rgb(0, 0, 0);
                color: white;
            }
            .period {
                background-color: rgb(83, 83, 83);
                color: white
            }
            .time {
                background-color: rgb(145, 142, 142);
                color: white
            }
            #Table-heading {
                font-size: 30px;
                text-align: center;
                color: black;
                margin-top: 45px;
                margin-bottom: -25px;
            }
            #hr{
                width: 100%;
                border: 2px solid black;
                margin-top: 40px;
                margin-bottom: -30px;
            }